// 灰色文字颜色
$grey-color: #999;
// 金额为0时弱化显示
$zero-grey-color: #999;
// 主色调
$hc-primary-color: #343D50;
// 黑色 0.75
$hc-black-80: rgba(0,0,0,0.08);
$hc-black-75: rgba(0,0,0,0.75);
$hc-black-45: rgba(0,0,0,0.45);
$hc-black-25: rgba(0,0,0,0.25);
$hc-black-15: rgba(0,0,0,0.15);
$hc-black-2: rgba(0,0,0,0.02);
// baise
$hc-white: #FFFFFF;
$hc-border-d9: #D9D9D9;
$hc-white-85: rgba(255,255,255,0.85);
$hc-white-80: rgba(255,255,255,0.08);
$hc-white-75: rgba(255,255,255,0.75);
//主要选中色
$hc-active-color: rgb(238, 34, 153);
$hc-hover-color: rgb(196, 32, 108);
$hc-click-color: rgb(216, 30, 185);
// 错误色
$hc-error-color: #FC353C;
$hc-success-color: #00CC43;
$hc-warn-color: #F39800;
// 灰度值
$hc-gray-8c: #8c8c8c;